@font-face {
    font-family: 'Alef';
    src: url("../fonts/Alef-Regular.ttf");
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: Alef, sans-serif;
  font-size: 0.9em;
}

ul li {
  color: #414141;
  text-align: center;
}

ul li:hover {
  cursor: pointer;
  color: #45a6eb;
  background-color: #e8e8e8;
}
