ul {
  margin: 0;
  padding: .5em;
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
}

ul li {
  color: #414141;
  text-align: center;
}

ul li:hover {
  cursor: pointer;
  color: #45a6eb;
}
