@font-face {
    font-family: 'Alef';
    src: url("../fonts/Alef-Regular.ttf");
}

html, body {
  width: 100px;
  font-family: Alef, sans-serif;
}

#coinName:hover {
  cursor: pointer;
  background-color: #dce000;
}

#coinName {
  text-align: center;
  background-color: gold;
}

#valor:hover {
  cursor: pointer;
  background-color: #69e5fb;
}

#valor {
  text-align: center;
  background-color: #CFF2F2;
}
