html, body {
  width: 100px;
  font-family: 'Montserrat', sans-serif;
  color: #5e5e5e;
  margin: .2em;
  margin-right: 10px;
}

#coinName:hover {
  cursor: pointer;
  color: #45a6eb;
}

#coinName {
  text-align: center;
}

#valor:hover {
  cursor: pointer;
  color: #45a6eb;
}

#valor {
  text-align: center;
}

hr {
  margin: 0px;
  color: #a8a8a8 !important;
}
