html, body {
  width: 100px;
  font-family: sans-serif;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

#valor:hover {
  cursor: pointer;
  background-color: #69e5fb;
}

.precio {
  text-align: center;
  background-color: gold;
}

#valor {
  text-align: center;
  background-color: #CFF2F2;
}
